body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #660128; /* Cor Bordéus */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #FDB927; /* Cor Meu Pecado */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #FDB927; /* Cor Meu Pecado */
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
}

#produtos .produto {
    display: inline-block;
    width: 45%;
    margin: 20px 2.5%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

#produtos .produto img {
    max-width: 100%;
    border-radius: 8px;
}

#produtos .produto h3 {
    font-size: 1.5em;
    color: #660128; /* Cor Bordéus */
}

#produtos .produto p {
    font-size: 1em;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #660128; /* Cor Bordéus */
    border: none;
    color: #FDB927; /* Cor Meu Pecado */
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #99023c; /* Tom mais claro de Bordéus */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
